.payment_box .strike-invoice-card-message {
  border-radius: 30px;
  font-size: 17px;
  font-family: Montserrat;
  min-height: 112px;
  border: 32px;
  line-height: 112px;
  text-align: center;
}

.strikeInvoiceCopyButtonDark:hover {
  background-color: transparent;
}

.strikeInvoiceCopyButtonDark {
  right: 0px !important;
  line-height: 40px !important;
}

.strikeInvoiceInfo {
  padding: 20px !important;
}
